* {
  font-family: 'Open Sans', sans-serif;
}
#main-title {
  font-size: 2em;
  font-weight: 200;
  color: #fff;
  text-shadow: 0 0 5px #000;
  text-align: center;
  margin: 0;
  padding: 0;
}
form {
  margin: 0;
  padding: 0;
}

#form-left {
  width: 50%;
  float: left;
  margin: 0;
  padding: 0;
}
#form-right {
  width: 50%;
  float: right;
  margin: 0;
  padding: 0;
}